body {
  margin: 0px;
  background-color: #5ad;
  font-family: 'Aclonica';
  font-size: 2rem;
}

button {
  cursor: pointer;
}

.board {
  background-color: #bada55;
  position: relative;
}
.board button {
  font-size: 3rem;
}

.grass {
  /* position: relative; */
  background-color: #02ac1e;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.grass h1 {
  display: flex;
  justify-content: center;
  margin: 0px;
  width: 100%;
  padding-top: 15px;
}

#insertChickenArea img {
  max-height: 100px;
  max-width: 100px;
  position: absolute;

}

.ground p {
  padding-top: 20px;
}
.ground {
  position: relative;
  background-color: #ba6e15;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ground .contdiv {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.ground h1 {
  font-size: 2.7rem;
}
.ground .input-p-div {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ground input {
  font-size: 2.6rem;
}
.ground p {
  margin: 0px;
  display: flex;
  justify-content: center;
  font-size: 2.6rem;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: fill;
display: flex;
flex-wrap: nowrap;
justify-content: center;
}

.backdrop button {
  position: fixed;
  top: 50vw;
  font-size: 3rem;
}

.backdrop h2 {
  position: fixed; top: 33vh; font-size: 3rem; color: white;
}

/* ----------------------------------- MOVE --------------------------------- */

.moving {
  transition: 2000ms;
}